// basscss
@import '../../node_modules/basscss/css/basscss.min.css';

@font-face {
  font-family: 'Avenir Next LT Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('☺'), url('../fonts/AvenirNextLTPro-Regular.woff') format('woff');
}

body {
  font-family:'Avenir Next LT Pro Regular';
  font-weight:normal;
  line-height: 1.5;
}

$sizes: 'h1', 'h2', 'h3', 'h4', 'h5', 'h6';

@each $size in $sizes {
  #{$size} {
    font-family:'Avenir Next LT Pro Regular';
  }
}
